venv*
.python-version
__pycache__

hw_data
hw_data.tar

dataset/*
dataset_archive/*
dataset_syn/*

data
aug

labels
labels-src

output

*.tsv
*.txt

checkpoints
logs
*.log
log
models

fonts

zhwiki/*

!.keep